


*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.2px;
    -webkit-user-select: none; /*鼠标设置 玩家不能拖动选取文字或画面*/
}

html{
    background: #000;
}

body{
    width: 465px;
    height: 465px;
    overflow: hidden;

}

/*游戏背景*/
#game{
    position: relative;
    width: 319px;
    height: 375px;
    overflow: hidden;
    margin: 40px auto 0;
    background-position: 0px 0px;
    background-repeat: no-repeat;

}


#gameover{
    background-image: url("images/img/gophers-Slice_Gameover.png");
}

#game{
    background-image: url("images/img/gophers-Slice_Background.png");
}

#timer{
    background-image: url("images/img/gophers-Slice_Timeboard.png");
}

#progress{
    background-image: url("images/img/gophers-Slice_time-line.png");
}

/*地鼠*/
.enemys#enemy_1,.enemys#enemy_7,
.enemys#enemy_8,.enemys#enemy_9,.enemys#enemy_10{
    background-image: url("images/img/gophers-1.png");
}

.enemys#enemy_2{
    background-image: url("images/img/gophers-2.png");
}

.enemys#enemy_3{
    background-image: url("images/img/gophers-3.png");
}

.enemys#enemy_4{
    background-image: url("images/img/gophers-4.png");
}

.enemys#enemy_5{
    background-image: url("images/img/gophers-5.png");
}

.enemys#enemy_6{
    background-image: url("images/img/gophres-6.png");
}

/*土壤*/
#mound{
    background-image: url("images/img/gophers-Slice_Mound.png");
}

/*计分板*/
#score_board{
    background-image: url("images/img/gophers-Slice_Scoreboard.png");
}

/*分数*/
#score_11{
    background-image: url("images/img/gophers-Slice_Score-2.png");
}

/*特效*/
.effect{
    background-image: url("images/img/gophers-Slice_Boom.png");
}

/*地鼠 显示区域*/
#enemy{
    position: absolute;
    top: 150px;
    left: 0;
    width: 319px;
    height: 100px;
    overflow: hidden;
}

/*绘制地鼠*/
.enemys{
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0;
    width: 49px;
    height: 49px;
    display: block;
    -webkit-appearance: button;  /*将地鼠设置为button*/
    background-position: 0px 0px;
    background-repeat: no-repeat;
    -webkit-animation-iteration-count: infinite; /*动画无限次循环*/
    cursor: pointer; /*鼠标变成链接形式*/
    opacity: 0.9; /*透明度*/
    border: none;
    outline: none;
}

/*地鼠出现的起始位置*/
.enemys#enemy_1{top:-93px;left: 12px;}
.enemys#enemy_2{top:-93px;left: 74px;}
.enemys#enemy_3{top:-93px;left: 135px;}
.enemys#enemy_4{top:-93px;left: 196px;}
.enemys#enemy_5{top:-93px;left: 258px;}
.enemys#enemy_6{top:-93px;left: 12px;}
.enemys#enemy_7{top:-93px;left: 74px;}
.enemys#enemy_8{top:-93px;left: 135px;}
.enemys#enemy_9{top:-93px;left: 196px;}
.enemys#enemy_10{top:-93px;left: 258px;}

/*鼠标移到地鼠身上时*/
.enemys:hover{
    opacity: 1;
}

/*地鼠1的动画*/
@-webkit-keyframes enemy_1 {
    0%   {-webkit-transform: translateY(200px);}
    40%  {-webkit-transform: translateY(145px);}
    50%  {-webkit-transform: translateY(200px);}
    90%  {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

/*设置地鼠1的动画播放*/
#enemy_1{
    -webkit-animation-name: enemy_1;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}

/*其他地鼠的动画*/
@-webkit-keyframes enemy_6 {
    0%   {-webkit-transform: translateY(200px);}
    40%  {-webkit-transform: translateY(200px);}
    50%  {-webkit-transform: translateY(145px);}
    90%  {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_6{
    -webkit-animation-name: enemy_6;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 0s;
}

@-webkit-keyframes enemy_2 {
    0%   {-webkit-transform: translateY(200px);}
    40%  {-webkit-transform: translateY(200px);}
    50%  {-webkit-transform: translateY(145px);}
    90%  {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_2{
    -webkit-animation-name: enemy_2;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes enemy_7 {
    0%   {-webkit-transform: translateY(200px);}
    20%  {-webkit-transform: translateY(145px);}
    30%  {-webkit-transform: translateY(200px);}
    40%  {-webkit-transform: translateY(145px);}
    45%  {-webkit-transform: translateY(200px);}
    50%  {-webkit-transform: translateY(200px);}
    90%  {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_7{
    -webkit-animation-name: enemy_7;
    -webkit-animation-duration: 5s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes enemy_3 {
    0%   {-webkit-transform: translateY(200px);}
    40%  {-webkit-transform: translateY(200px);}
    50%  {-webkit-transform: translateY(145px);}
    60%  {-webkit-transform: translateY(145px);}
    90%  {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_3{
    -webkit-animation-name: enemy_3;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes enemy_8 {
    0%   {-webkit-transform: translateY(200px);}
    10%  {-webkit-transform: translateY(145px);}
    15%  {-webkit-transform: translateY(200px);}
    20%  {-webkit-transform: translateY(145px);}
    25%  {-webkit-transform: translateY(200px);}
    30%  {-webkit-transform: translateY(145px);}
    40%  {-webkit-transform: translateY(200px);}
    50%  {-webkit-transform: translateY(200px);}
    70%  {-webkit-transform: translateY(200px);}
    90%  {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_8 {
    -webkit-animation-name: enemy_8;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes enemy_4 {
    0%   {-webkit-transform: translateY(200px);}
    30%  {-webkit-transform: translateY(160px);}
    50%  {-webkit-transform: translateY(145px);}
    60%  {-webkit-transform: translateY(200px);}
    90%  {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_4 {
    -webkit-animation-name: enemy_4;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes enemy_9 {
    0%   {-webkit-transform: translateY(200px);}
    20%  {-webkit-transform: translateY(200px);}
    30%  {-webkit-transform: translateY(200px);}
    60%  {-webkit-transform: translateY(200px);}
    70%  {-webkit-transform: translateY(145px);}
    75%  {-webkit-transform: translateY(160px);}
    80%  {-webkit-transform: translateY(145px);}
    85%  {-webkit-transform: translateY(160px);}
    90%  {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_9 {
    -webkit-animation-name: enemy_9;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 1s;
}

@-webkit-keyframes enemy_5 {
    0%   {-webkit-transform: translateY(200px);}
    30%  {-webkit-transform: translateY(9200px);}
    60%  {-webkit-transform: translateY(145px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_5 {
    -webkit-animation-name: enemy_5;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes enemy_10 {
    0%   {-webkit-transform: translateY(200px);}
    5%   {-webkit-transform: translateY(145px);}
    30%  {-webkit-transform: translateY(200px);}
    60%  {-webkit-transform: translateY(200px);}
    90%  {-webkit-transform: translateY(200px);}
    100% {-webkit-transform: translateY(200px);}
}

#enemy_10 {
    -webkit-animation-name: enemy_10;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 1s;
}

/*绘制地鼠被打时的特效*/
.enemys:checked+.effect{}
.effect{
    position: absolute;
    z-index: 21;
    width: 106px;
    height: 98px;
    -webkit-pointer-events: none; /*不懂*/
    pointer-events: none; /*不懂*/
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity: 0;
}

/*特效排版*/
#enemy_1 +.effect{top:0px;left: 0px}
#enemy_2 +.effect{top:0px;left: 50px}
#enemy_3 +.effect{top:0px;left: 105px}
#enemy_4 +.effect{top:0px;left: 164px}
#enemy_5 +.effect{top:0px;left: 214px}
#enemy_6 +.effect{top:0px;left: 0px}
#enemy_7 +.effect{top:0px;left: 50px}
#enemy_8 +.effect{top:0px;left: 105px}
#enemy_9 +.effect{top:0px;left: 164px}
#enemy_10 +.effect{top:0px;left: 214px}

/*设置动画播放特效-“碰”的特效*/
.enemys:checked+.effect{
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
}

/*设置两种不同的特效*/
#enemy_1:checked +.effect,
#enemy_2:checked +.effect,
#enemy_3:checked +.effect,
#enemy_4:checked +.effect,
#enemy_5:checked +.effect{
    -webkit-animation-name: effect1;
}

#enemy_6:checked +.effect,
#enemy_7:checked +.effect,
#enemy_8:checked +.effect,
#enemy_9:checked +.effect,
#enemy_10:checked +.effect{
    -webkit-animation-name: effect2;
}

/*动画 特效淡入淡出*/
@-webkit-keyframes effect1 {
    0%   {-webkit-transform: translateX(0px)   translateY(0px);opacity: 0;}
    30%  {-webkit-transform: translateX(-10px) translateY(-10px);opacity: 1;}
    80%  {-webkit-transform: translateX(-10px) translateY(-10px);opacity: 1;}
    100% {-webkit-transform: translateX(0px)   translateY(0px);opacity: 0;}
}

@-webkit-keyframes effect2 {
    0%   {-webkit-transform: translateX(0px)  translateY(0px);opacity: 0;}
    30%  {-webkit-transform: translateX(10px) translateY(-10px);opacity: 1;}
    80%  {-webkit-transform: translateX(10px) translateY(-10px);opacity: 1;}
    100% {-webkit-transform: translateX(0px)  translateY(0px);opacity: 0;}
}

/*地鼠死掉时*/
.enemys:checked{
    overflow: hidden;
    -webkit-animation-name: none; /*用none来关闭地鼠的动画*/
    pointer-events: none;
    -webkit-pointer-events: none; /*鼠标事件取消*/
    opacity: 0; /*透明度 地鼠完全消失*/
}

/*绘制土堆*/
#mound{
    position: absolute; /*绝对定位*/
    z-index: 5; /*土堆覆盖地鼠*/
    top: 160px;
    left: 0;
    display: block;
    width: 319px;
    height: 200px;
    pointer-events: none;
    -webkit-pointer-events: none;
    background-position: 0px 10px;
    background-repeat: no-repeat;
}

/*土堆 屏蔽设置*/
#mound.mask{
    position: absolute;
    -webkit-pointer-events: auto;
    pointer-events: auto;
}

/*绘制计分板*/
#score_board{
    position: absolute;
    top: 85px;
    left: 85px;
    width: 157px;
    height: 105px;
    z-index: 10;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

/*分数 显示区域*/
#score_wrap{
    position: absolute;
    top: 23px;
    left: 25px;
    width: 111px;
    height: 63.5px;
    overflow: hidden;
}

/*绘制分数数字*/
#score_11{
    position: relative;
    display: block;
    width: 111px;
    height: 694px;
    -webkit-appearance: none;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

/*分数起始位置*/
#score{
    position: absolute;
    top:-640px;
    left: 0;
    width: 111px;
    height: 694px;
}

/*动画 跳分数*/
.score{
    position: relative;
    display: block;
    width: 111px;
    height: 63.5px;
    background-color: transparent;
    -webkit-appearance: button;
    -webkit-transition: 0.1s linear;
}

/*分数归零*/
.score:checked{
    position: absolute;
    top: 0px;
    height: 0px;
}

/*时间条背景*/
#timer{
    position: absolute;
    top: 310px;
    left: 5px;
    z-index: 10;
    width: 309px;
    height: 50px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

/*时间条*/
#progress{
    position: absolute;
    top: 7px;
    left: 114px;
    width: 170px;
    height: 36px;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    -webkit-animation-name: progres;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:12.5s;
    -webkit-animation-delay:0.5s;
}

/*动画 时间条*/
@-webkit-keyframes progres {
    0%   {width: 0px;}
    100% {width: 170px;}
}

/*游戏结束时背景*/
#gameover{
    position: absolute;
    top: 0;
    left: 0;
    width: 319px;
    height: 375px;
    background: rgba(0,0,0,0.6);
    -webkit-animation-name:gameover;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:13s;
    -webkit-animation-delay:0.5s;
    z-index: 90;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    opacity: 1;
}

/*动画 游戏结束画面*/
@-webkit-keyframes gameover {
    0%   {top: -465px;opacity: 1;}
    97%  {top: -465px;opacity: 0;}
    100% {top: 12px;opacity: 1;}
}